.main{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}

.sidebar{
    width: 18%;
    height: 100vh;
    background-color: aqua;
}
.pages{
    width: 100%;
    padding-top: 30px;
    height: 80vh;
    background-color: #f4f4f4;
    margin: 0 30px;
}